:root {
  --green: #479564;
  --gray: #222222;
  --black: #0c0c0c;
  --white: #e9e9e9;
}

@font-face {
  font-family: sher;
  src: url(./Manrope-VariableFont_wght.woff2);
}

@font-face {
  font-family: neue;
  src: url(./NeueMachina-Light.woff2);
}

@font-face {
  font-family: neue2;
  src: url(./NeueMachina-Regular.woff2);
}

@font-face {
  font-family: fles;
  src: url(./dmsans-rp2wp2ywxg089uriczasexd86j3t9jz86mvyyky58q.woff2);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
  overflow-x: hidden;
  color: aliceblue;
}

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  color: aliceblue;
  justify-content: space-between;
  padding: 15px 40px;
}

.nav1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav1 img {
  height: 50px;
  width: auto;
  object-fit: cover;
}

.nav2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 15px;
  color: aliceblue;
  font-family: sher;
}

.nav2 a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: aliceblue;
  text-decoration: none;
}

.nav2 h3 {
  display: none;
}

#myimg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.div3 {
  display: none;
}

main {
 padding-top: 20px;
}

.section1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  padding-left: 20px;
  font-family: fles;
  
}

.section1 .left{
  flex: 1;
}
.section1 .right {
  flex: 1;
  width: 100%;
}

.section1 .left {
  height: fit-content;
}

.section1 .left h1 {
  height: fit-content;
  width: auto;
  
  font-size: 35px;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  gap: 5px;
}

.tags h4 {
  background-color: var(--gray);
  border-radius: 5px;
  padding: 10px;
  white-space: nowrap; /*use for remove extra spaces */
}

.price {
  padding: 20px 0px 0px 0px;
}

.price b {
  font-size: 30px;
}

.price .decprice {
  font-size: 25px;
  color: #479564;
}

.price .oldprice {
  font-size: 15px;
  color: #777777;
  text-decoration: line-through;
}

.scrach {
  color: #479564;
  padding-bottom: 20px;
}

.btn .buy {
  background-color: #479564;
  color: #e9e9e9;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

.btn .syllabas {
  background-color: #222222;
  color: #e9e9e9;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

.btn h6 {
  font-size: 10px;
}

.btn h6 span {
  font-size: 12px;
  color: #479564;
}



.section1 .right .right-in {
  width: 600px;
  overflow: hidden;
  border-radius: 5px;
}

.section1 .right .right-in .image {
  width: 100%;
}
.section1 .right .right-in .image img {
  width: 100%;
  display: block;
}

.section1 .right .right-in .image-bottom{
  padding: 20px;
  background-color: var(--gray);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 40px;
  column-gap: 20px;
  row-gap: 10px;
}

.right-in .image-bottom h4{
  background-color: #151515;
  padding: 10px 15px;
  width: 45%;
}

.right-in .image-bottom h4 span{
  color: #479564;
}

@media (max-width:1200px) {
  .section1 .left h1 {
  font-size: 4vh;
}

}

@media (max-width:800px) {
  .section1 .left h1 {
  font-size: 30px;
}

}

@media (max-width:600px) {

  .section1{
    flex-direction: column-reverse;
  }
  .section1 .left h1 {
  font-size: 4vw;
}

}


@media (max-width: 600px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: black;
    position: fixed;
  }

  .nav2 a {
    display: none;
  }

  .nav1 img {
    height: 30px;
  }

  .nav3 h3 {
    color: aliceblue;
    display: block;
    font-size: 20px;
  }

  #myimg {
    display: none;
  }

  .nav2 h4 {
    display: none;
  }

  .div3 {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px;
  }
}
