*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

/* #container{
    height: 100vh;
    width: fit-content;
    margin: 0px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;   
    justify-content: start;
    justify-content: start; 
    
} */
/* 
div{
    
    margin: 10px 10px;
}

#box1{
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: aquamarine;
}
#box2{
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: rgb(157, 255, 127);
}
#box3{
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: rgb(255, 127, 234);
}
#box4{
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border: 1px solid black;
    background-color: rgb(253, 255, 127);
} 


 #navbar{
    height: 20vh;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
   
    
} 

 h4{
    margin: 10px 10px;
} 


 
#parent{
    height: 500px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#child1{
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
    background-color: rgb(158, 58, 0);
    border: 2px solid rgb(255, 255, 255);
}
#child2{
    background-color: rgb(0, 90, 60);
    border: 2px solid rgb(255, 255, 255);
}
#child3{
    background-color: rgb(122, 0, 112);
    border: 2px solid rgb(255, 255, 255);
}
#child4{
    background-color: rgb(129, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}
#child5{
    background-color: rgb(3, 97, 0);
    border: 2px solid rgb(255, 255, 255);
} */