*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#container{
    height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-end; */   /**/
    /* justify-content: start; */
    justify-content: start; 
    
}

div{
    
    margin: 10px 10px;
}

#box1{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: aquamarine;
}
#box2{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(157, 255, 127);
}
#box3{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(255, 127, 234);
}
#box4{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(253, 255, 127);
}