.box{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    transform: translateY(-100%) rotate(45deg);
    


    /* position: absolute; */
    animation-name: move;
    animation-duration: 3s;
    animation-delay: 1s;
}


@keyframes move {

    from{
        top: 0px;
        transform: translateY(-100px) rotate(45deg);
        background-color: blueviolet;
    }
    to{
        top: 5px;
        transform: translateY(-50%) rotate(45deg);
        background-color: cadetblue;
    }
}

/* .box:hover{
    animation: move 1s linear forwards;
    animation-iteration-count: infinite;
} */



.box2{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: #caf0f8;

    position: absolute;
    animation: move2 10s ease 1s ;
}


@keyframes move2 {
    0%{
      
        left: 0;
        top: 0;
        background-color: #caf0f8;
    }
    50%{
        left: 70%;
        top: 0;  
        background-color: #03045e;
    }
    50%{
        left: 70%;
        top: 50%;
        background-color: rgb(73, 141, 201);
    }
}